[hidden] {
  display: none !important;
}

.app-overlay {
	
	
}

#app {
	background: var(--bg-mate);
}

.grid-v {
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 0;
}

.grid-h {
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-columns: auto 15rem;
  grid-gap: 0;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100dvh - 8px);
  padding: var(--s-xs) 0 var(--s-xs) 0;
  border-right: 1px solid var(--border);
  align-items: center;
  grid-row: span 2;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 200;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s-xs);
  padding: var(--s-xs) 0;
}

nav div.embed svg {
  width: 24px;
  margin-left: 3px;
}

nav div.embed {
  margin-right: -11px;
  padding: var(--s-md) 0;
  background: var(--border);
  gap: var(--s-sm);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

header {
  justify-content: space-between; /* left group, save btn, tabmenu */
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--s-md);
  padding: 0 var(--s-sm);
  height: 42px;
  border-bottom: 1px solid var(--border);
  background: var(--bg-main);
  flex-shrink: 0;
  position: sticky;
  top: 0;
  z-index: 100;
  grid-column: span 2;
}


aside, .content-area {
  height: calc(100dvh - 6px - 43px);
}

aside {
  grid-row: span 2;
  padding: var(--s-md);
  border-left: 1px solid var(--border);
}

.content-area {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#kanban-area,
#meta-area,
#files-area {
	grid-column: span 2;
}

#article {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

#files > div {display:flex;padding: var(--s-md);}

#chapter-index-modal {
	width: 90dvw;
}

.mgrid {display: grid;grid-template-columns: 75% 25%;}
.mgrid .modal-opt {/* padding: var(--s-sm); */}
.mgrid .coverimg { height: 80vw; }

.opt-menu {display: flex;columns: 3;gap: var(--s-sm);margin-left: var(--s-lg);}
.opt-menu li {display: flex;/* flex-flow: column; *//* width: 72px; *//* height: 72px; */align-items: center;justify-content: center;}
.opt-menu li { opacity: .5; }
.opt-menu li.enable { opacity: 1; }
.opt-menu li span {font-size: .7rem;}
.opt-menu li svg { width: 20px; height: 20px; stroke-width: 1px !important;} 

nav.embed {
  display: flex;
  flex-direction: column;
  padding: var(--s-xs) 0;
  border-left: 1px solid var(--bg-mate);
  background: var(--border);
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;
  box-shadow: inset 3px 0 4px rgba(0, 0, 0, 0.5);
}

