#app {
 display: grid;
 grid-template-columns: 40px auto;
 grid-template-areas:
	"nav header"
	"nav content"
}
#app > nav {
 grid-area: nav;
 grid-row: span 2;
}
#app main {
 display: grid;
 grid-template-rows: 40px auto;
 grid-template-columns: auto 15rem;
 grid-gap: 0;
}
.dashboard {
 display: grid;
 grid-template-columns: auto 15rem;
 height: calc(100vh - 43px);
}
#app header.top {
 justify-content: space-between;
 gap: var(--s-md);
 border-bottom: 1px solid var(--border);
 grid-column: span 2;
}
#kanban-area,
#files-area,
#about-area,
#notes-area,
#meta-area,
#chatbot-area {
 grid-column: span 2;
}
#meta-area {
 display: grid;
 grid-template-columns: 60% 40%;
}
aside {
 grid-row: span 2;
 border-left: 1px solid var(--border);
}
aside,
.content-area {
 height: calc(100dvh - 43px);
}
aside div.content {
padding: var(--s-sm);
}
.content-area {
 display: flex;
 flex-direction: column;
 width: 100%;
}
aside.meta-side,
aside.chat-side {
 position: fixed;
 top: 44px;
 right: 0;
 width: 15rem;
 padding: var(--s-sm);
 font-size: var(--f-xs);
}
