*,
::after,
::before,
::backdrop,
::file-selector-button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font-sans);
  font-size: 100%;
  line-height: 1.5;
  background: var(--bg-alt);
  color: var(--fg-main);
  -webkit-font-smoothing: antialiased;
}

svg {
  stroke-width: 1.5px !important;
}

svg.ge,
svg.icon {
  width: 1em;
  height: 1em;
  display: block;
  flex-shrink: 0;
}

.flex { display: flex }
.pad-md { padding: var(--s-md); }
