body {
	margin: 0;
	padding: 0
}

nav {
	background: #f1f1f1;
	display: flex;
	padding: 1rem;
	align-items: center;
}

nav a {
	margin: 0 .5rem;
}

.icon-inspect-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 160px;
	z-index: 1000;
	border: 1px solid #ccc;
	padding: 1em;
	background-color: white;
	top: 3rem;
	right: 1rem;
}

.index div {
	cursor: pointer;
	margin: 5px 0;
}

.inspect-tool {
	display: flex;
	justify-content: space-around;
	margin: 1rem 0;
	flex-wrap: wrap;
}

.inspect-tool [type=number] {
	width: 3rem;
}

.inspect-tool [type=text] {
	font-size: .8rem;
}

.icon {
	height: 32px;
	width: 32px;
	color: blue;
}

.x-icon {
	height: 64px;
	width: 64px;
}

.xl-icon {
	height: 96px;
	width: 96px;
}

a.close {
	color: red;
}

a.close svg {
	width: 16px;
	height: 16px;
}

#icon-index {
	margin-right: 220px;
	overflow: auto;
	height: calc(100% - 5rem);
	position: absolute;
	top: 5rem;
	width: calc(100% - 220px);
	border-right: 1px solid #ccc;
}

#icon-index > div {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 1em /* Space between grid items */;
	padding: 1rem;
}

#icon-index span {
	font-size: .8em;
	text-align: center;
}

#icon-index > div > div {
	display: flex;
	flex-flow: column;
	gap: .25rem;
	justify-content: flex-start;
	align-items: center;
	padding: .5em;
}

#icon-index > div > div svg {
	border: 1px solid transparent;
}

#icon-index > div > div:hover {
	background: #0002;
}

#icon-index > div > div:hover svg {
	border: 1px solid #000;
}

.icon-inspect-div svg.icon {
	width: 96px;
	height: 96px;
	border: 1px dotted #000;
}
