
        <div class="meta" hidden>
          <div class="meta-fields">
            <div class="meta-field">
              <span class="field-key" contenteditable spellcheck="false">characters</span>
              <span class="field-sep">:</span>
              <span class="field-val" contenteditable spellcheck="false"></span>
              <button class="field-remove" onclick="removeField(this)" title="Remove field">✕</button>
            </div>
            <div class="meta-field">
              <span class="field-key" contenteditable spellcheck="false">settings</span>
              <span class="field-sep">:</span>
              <span class="field-val" contenteditable spellcheck="false"></span>
              <button class="field-remove" onclick="removeField(this)" title="Remove field">✕</button>
            </div>
            <div class="meta-field">
              <span class="field-key" contenteditable spellcheck="false">prompts</span>
              <span class="field-sep">:</span>
              <span class="field-val" contenteditable spellcheck="false"></span>
              <button class="field-remove" onclick="removeField(this)" title="Remove field">✕</button>
            </div>
          </div>
          <button class="add-field-btn" onclick="addField()">+ add field</button>
        </div>