<nav>
  <div class="nav-top">
    <button id="bookindex-btn" onclick="bookIndex()" title="Book index" aria-label="Book index">
      <i data-icon="t-shelf"></i>
    </button>
  </div>
  <div class="nav-bottom">
    <button id="theme-toggle" onclick="toggleTheme()" title="Toggle theme" aria-label="Toggle theme"></button>
	<button id="pref-btn" onclick="openPref()" title="Settings" aria-label="Settings">
		<i data-icon="pref"></i>
	</button>
    <button id="settings-btn" onclick="openSettings()" title="Settings" aria-label="Settings">
      <i data-icon="t-cog"></i>
    </button>
  </div>
</nav>