<nav>
  <div class="nav-top">
    <button class="btn-icon" id="about-btn" onclick="switchArea('about')" title="Snara" aria-label="Snara">
     <i data-icon="letter-s-fill"></i>
    </button>
	<button class="btn-icon" id="bookindex-btn" onclick="bookIndex()" title="Book index" aria-label="Book index">
      <i data-icon="books"></i>
    </button>
    <button class="btn-icon" id="notes-btn" onclick="switchArea('notes')" title="Notes" aria-label="Notes">
      <i data-icon="notebook"></i>
    </button>
    <button class="btn-icon seppad-top" id="chatbot-btn" onclick="switchArea('chatbot')" title="Chatbot Assistant" aria-label="Chatbot">
      <i data-icon="ai-agents"></i>
    </button>
  </div>

  <div class="embed">
    <button class="btn-icon nav-tab-btn active-tab" id="editor-btn" data-area="editor" onclick="switchArea('editor')" title="Editor" aria-label="Editor">
      <i data-icon="edit"></i>
    </button>
    <button class="btn-icon nav-tab-btn" id="files-btn" data-area="files" onclick="switchArea('kanban')" title="kanban" aria-label="kanban">
      <i data-icon="layout-kanban"></i>
    </button>
    <button class="btn-icon nav-tab-btn" id="meta-btn" data-area="meta" onclick="switchArea('meta')" title="Meta" aria-label="Meta">
      <i data-icon="api-book"></i>
    </button>
    <button class="btn-icon nav-tab-btn" id="files-btn" data-area="files" onclick="switchArea('files')" title="Files" aria-label="Files">
      <i data-icon="archive"></i>
    </button>
  </div>

  <div class="nav-bottom">
    <button class="btn-icon btn-icon seppad-bottom" id="theme-toggle" onclick="toggleTheme()" title="Toggle theme" aria-label="Toggle theme"></button>
    <button class="btn-icon" id="pref-btn" onclick="openPref()" title="Theme variables" aria-label="Theme variables">
      <i data-icon="adjustments-horizontal"></i>
    </button>
    <button class="btn-icon" id="settings-btn" onclick="openSettings()" title="Settings" aria-label="Settings">
      <i data-icon="settings-cog"></i>
    </button>
  </div>
</nav>