@import url('./css/vars.css');
@import url('./css/norm.css');
@import url('./css/snara.css');
@import url('./css/editor.css');
@import url('./css/layout.css');
@import url('./css/index.css');
@import url('./css/toc.css');
@import url('./css/settings-tabs.css');



.idx-act-header {
	display: flex;
	align-items: center;
	gap: var(--s-sm);
	padding: var(--s-sm) var(--s-lg);
	cursor: pointer;
	border-bottom: 1px solid var(--border);
	transition: background 0.1s;
	position: relative;
	outline: none;
}


#chapter-index-modal {
	width: 90dvw;
}

.mgrid {display: grid;grid-template-columns: 75% 25%;}
.mgrid .modal-opt {/* padding: var(--s-sm); */}

.opt-menu {display: flex; }
.coverimg { 
background-color: var(--bg-mate);
}

.opt-menu li {display: flex;flex-flow: column;width: 72px;height: 72px;align-items: center;justify-content: center;}
.opt-menu li { opacity: .5; }
.opt-menu li.enable { opacity: 1; }
.opt-menu li span {font-size: .7rem;}
.opt-menu li svg {stroke-width: 1px !important;}
	