:root,
html[data-theme="light"] {
  --bg-main: #d9d9d9;

  --fg-main: #24292f;

  --fg-link: #0969da;

  --primary: #7799CC;
  --danger: #cf222e;
  --success: #2da44e;

  --tag-act-fg: #003399;
  --tag-chapter-fg: #0066CC;
  --tag-scene-fg: #3399DD;
  --tag-beat-fg: #66CCFF;
}

html[data-theme="dark"] {

  --bg-main: #0d091c;

  --fg-main: #c9d1d9;

  --fg-link: #58a6ff;

  --primary: #1f6feb;
  --danger: #f85149;
  --success: #3fb950;

  --tag-act-fg: #ffcc33;
  --tag-chapter-fg: #ff9933;
  --tag-scene-fg: #ff6b6b;
  --tag-beat-fg: #cc5522;

}
